{% extends 'base.html' %}
{% block content %}


<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <p>Are you sure you want to delete "{{ club }}"?</p>

            <form action="{% url 'delete_club_from_type_of_game' type_of_game.id club.id%}" method="POST">
                {% csrf_token %}
                <input type="submit" name="Confirm">
                <a href="{% url 'type_of_game_detail' type_of_game.id %} ">Cancel</a>
            </form>

        </div>
    </div>
</div>


{% endblock %}